
html {
    font-size: 1rem;
    height: 100%;
}

body {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: bisque;
}

body, header, main {
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}

header, main {
    text-align: center;
}

footer {
    clear: both;
    width: 100%;
    padding: 20px;
}

h1 {
    display: inline-block;
    padding: 0.5rem;
}

main>div {
    min-height: 180px;
    margin: 0.5rem;
}

main>div {
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 65%;
}

main>aside {
    min-height: 180px;
    min-width: 30%;
    margin: 0.5rem;
    float: left;
    width: auto;
}

.secciones {
    min-height: 50px;
    margin: 0.5rem;
}

.secciones article {
    margin: 0.5rem;
    min-height: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 20px auto;
}

.menu-nav ul {
    list-style-type: none;
    background-color: coral;
}

.menu-nav li {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
}

.menu-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-nav a:hover {
    color:brown
}


@media screen and (min-width: 768px) {
    header nav section footer {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    header, nav, section, footer {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    header, nav, section, footer {
        width: 100%;
        padding: 10px;
    }
}