html {
    font-size: 1rem;
    height: 100%;
    width: auto;
}

body {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: bisque;
}

body, header, main {
    min-height: 50px;
    margin: 1rem;
    min-width: 400px;
}

header {
    text-align: center;
    background-color: aliceblue;
}

footer {
    clear: both;
    width: auto;
    padding: 20px;
    background-color: aliceblue;
}

h1 {
    display: inline-block;
    padding: 0.5rem;
}

img {
    max-width: 15%;
    height: 15%;
    display: block; 
    margin: 20px auto;
    float: left;
}

.reparto1 {
    list-style-type: none;
}

.descripcion {
    background-color:lightblue
}

.menu-nav ul {
    list-style-type: none;
}

.menu-nav li {
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
}

.menu-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-nav a:hover {
    color:brown
}
.fotografia1{
    margin-top: 0;
    height: 284px;
}
.fotografia2{
    margin-top: 0;
    height: 267px;
}
.fotografia3{
    margin-top: 0;
    height: 268px;
}

.texto{
    text-align: center;
}

.parrafoFooter{
    font-size: 30px;
}

.socials a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color:aqua;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: FFFFFF;
    font-size: 20px;
}
.socials a:hover{
    color: brown;
}

.pieDePagina{
    height: 130px;
    padding-top: 5px;
}
.futer{
    padding-left: 700px;
    margin-top: -110px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


























@media screen and (min-width: 768px) {
    header nav section footer {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    header, nav, section, footer {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    header, nav, section, footer {
        width: 100%;
        padding: 10px;
    }
}